# Laborátorio da Faculdade

### Caso de Covid-19

#### Material usado

https://github.com/CSSEGISandData/COVID-19

##### Importando

In [6]:
import pandas as pd
import numpy as np

In [7]:
casos = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

#### Mostrando os ultimas cinco linhas da lista

In [9]:
casos.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/18/20,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20
261,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,34401,35003,35686,36151,36580,37083,37591,37963,38253,38703
262,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2024,2026,2026,2028,2028,2029,2029,2029,2030,2030
264,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,14022,14070,14131,14175,14389,14443,14491,14515,14612,14641
265,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,7647,7672,7683,7683,7711,7725,7752,7787,7803,7812